<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teesofttech.mkremit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/mkremitlogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/mkremitlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".settingsutils.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".electricityutils.ElectricityCompletionActivity"
            android:exported="true"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".electricityutils.ElectricityCompletionActivity" />
        </activity>
        <activity
            android:name=".billsUtil.BillsActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".billsUtil.BillsActivity" />
        </activity>
        <activity
            android:name=".fundingutils.FundWalletActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fundingutils.FundWalletActivity" />
        </activity>
        <activity
            android:name=".cableutils.CableCompleteActivity"
            android:exported="true"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cableutils.CableCompleteActivity" />
        </activity>
        <activity
            android:name=".cableutils.PreviewCableActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cableutils.PreviewCableActivity" />
        </activity>
        <activity
            android:name=".datautils.DataCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".educationutils.EducationCompleteActivity"
            android:exported="true"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".educationutils.EducationCompleteActivity" />
        </activity>
        <activity
            android:name=".airtimeutils.AirtimeCompletionActivity"
            android:exported="true"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".airtimeutils.AirtimeCompletionActivity" />
        </activity>
        <activity
            android:name=".educationutils.PreviewEducationActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".educationutils.PreviewEducationActivity" />
        </activity>
        <activity
            android:name=".fundingutils.FundingHistoryActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fundingutils.FundingHistoryActivity" />
        </activity>
        <activity
            android:name=".profileutils.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".walletutils.WalletActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".walletutils.WalletActivity" />
        </activity>
        <activity
            android:name=".transactionutils.TransactionActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".transactionutils.TransactionActivity" />
        </activity>
        <activity
            android:name=".educationutils.EducationActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".educationutils.EducationActivity" />
        </activity>
        <activity
            android:name=".cableutils.CableActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cableutils.CableActivity" />
        </activity>
        <activity
            android:name=".electricityutils.PreviewElectricityActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".electricityutils.PreviewElectricityActivity" />
        </activity>
        <activity
            android:name=".electricityutils.ElectricityActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".electricityutils.ElectricityActivity" />
        </activity>
        <activity
            android:name=".datautils.PreviewInternetActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".datautils.PreviewInternetActivity" />
        </activity>
        <activity
            android:name=".datautils.InternetDataActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".datautils.InternetDataActivity" />
        </activity>
        <activity
            android:name=".airtimeutils.PreviewActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".airtimeutils.PreviewActivity" />
        </activity>
        <activity
            android:name=".airtimeutils.AirtimeActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".airtimeutils.AirtimeActivity" />
        </activity>
        <activity
            android:name=".auth.SetPinActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Onboarding" />
        <activity
            android:name=".auth.AuthenticatePinActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Onboarding" />
        <activity
            android:name=".forgotpasswordutils.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".registerutils.RegisterActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".splashscreen.SplashscreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Onboarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginutils.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.teesofttech.mkremit"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>